
.date {
    width: 26%;

    border-radius: 5px;
    background: #ffffff;
    box-shadow:  6px 6px 9px #f0f0f0,
                 -6px -6px 9px #ffffff;

    padding: 20px 20px;
}


.date:hover {
    background-color: #eee;
}

.date div {
    display: flex;
    align-items: center;
}

img[src$=".svg"] {
    padding-right: 10px;
    width: 18px;
    height: 18px
}

.date a {
    width: 100%;
    margin-top: 13px;
    padding: 2px 10px;

    font-family: 'Barlow Condensed', sans-serif;
    background-color: #212121;
    color: #fff;

    border: none;
    border-radius: 4px;
}

.active {
    cursor: pointer;
}

.active:hover {
    background-color: #e23e02;
    font-weight: bold;
    color: #252424;
}

.desactive {
    cursor: not-allowed;
}
