/*-------------------------*\
|     Barre de navigation     |
 \*-------------------------*/

.logo {
	display: flex;
	justify-content: center;
	padding: 50px 0 20px;
	background-color: #090909;
}

.sticky {
	position: fixed;
	top: 0;
}

.sticky + .content {
	padding-top: 100px;
}

.hide {
	opacity: 0;
}

#navLogo {
	position: absolute;
	height: 45px;
	left: 10px;
	top: 8px;
	transition: opacity 1s;
}

nav {
	background-color: #212121;
	display: block;
	position: relative;
	height: 50px;
	width: 100%;
	z-index: 1;
}

nav a[href^='#'] {
	color: #e9e5d9;
	display: block;
	float: left;
	font-size: 20px;
	font-weight: 700;
	height: 100%;
	line-height: 50px;
	padding: 0 16px;
	text-align: center;
	text-decoration: none;
}

nav a[href^='#']:hover {
	background: #e23e02;
	color: #1d1d1d;
}

nav .mainNav {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

nav .rightNav {
	position: absolute;
	right: 0;
	top: 0;
}

nav .reseaux {
	padding-left: 16px;
	padding-right: 10px;
	padding-top: 14px;
}

/* Responsivité */

@media screen and (max-width: 450px) {
	.logo img {
		width: 250px;
	}

	.logo {
		padding: 30px 0 10px;
	}
}

@media screen and (max-width: 319px) {
	.logo img {
		width: 150px;
	}

	.logo {
		padding: 15px 0 15x;
	}
}
